<!-- BEGIN SIDEBPANEL-->
{% set currentRoute = app.request.attributes.get('_route') %}

{% macro createItem(route, msg, icon, currentRoute, abreviation) %}
    <li class="{% if route == currentRoute %} active {% endif %}">
        <a href="{{ route }}">{{ msg }}</a>
        <span class="icon-thumbnail">{% if icon %}<i class="{{ icon }}"></i>{% else %} {{ abreviation }} {% endif %}</span>
    </li>
{% endmacro %}

<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-40"><img src="assets/img/demo/social_app.svg" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-10"><img src="assets/img/demo/email_app.svg" alt="socail">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-40"><img src="assets/img/demo/calendar_app.svg" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-10"><img src="assets/img/demo/add_more.svg" alt="socail">
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
            <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
            </button>
            <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a href="index.html" class="detailed">
                    <span class="title">Dashboard</span>
                    <span class="details">12 New Updates</span>
                </a>
                <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
            </li>
            <li>
                <a href="javascript:;"><span class="title">Ressources Humaines<</span>
                    <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
                <ul class="sub-menu">
                    {{- _self.createItem('calendar.html','Employé',false,currentRoute,'Em') -}}
                    {{- _self.createItem('calendar.html','Candidat',false,currentRoute,'Cn') -}}
                </ul>
            </li>
            <li>
                <a href="javascript:;"><span class="title">Gestion Monétaire</span>
                    <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i class="fa fa-dollar"></i></span>
                <ul class="sub-menu">
                    {{- _self.createItem('calendar.html','Prime',false,currentRoute,'Pr') -}}
                    {{- _self.createItem('calendar.html','Pret',false,currentRoute,'pt') -}}
                </ul>
            </li>
            <li>
                <a href="javascript:;"><span class="title">Calendar</span>
                    <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i class="pg-calender"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="calendar.html">Basic</a>
                        <span class="icon-thumbnail">c</span>
                    </li>
                    <li class="">
                        <a href="calendar_lang.html">Languages</a>
                        <span class="icon-thumbnail">L</span>
                    </li>
                    <li class="">
                        <a href="calendar_month.html">Month</a>
                        <span class="icon-thumbnail">M</span>
                    </li>
                    <li class="">
                        <a href="calendar_lazy.html">Lazy load</a>
                        <span class="icon-thumbnail">La</span>
                    </li>
                    <li class="">
                        <a href="http://pages.revox.io/dashboard/2.1.0/doc/#calendar" target="_blank">Documentation</a>
                        <span class="icon-thumbnail">D</span>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="builder.html">
                    <span class="title">Builder</span>
                </a>
                <span class="icon-thumbnail"><i class="pg-layouts"></i></span>
            </li>
         </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>